<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="assets/images/tesis/logo.png" width="170" height="70" alt="Nombre de tu empresa">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item">
                <a href="#" class="nav-link text-uppercase">Conviértete en tutor</a>
            </li>
            <li class="nav-item">
                <a href="precios" class="nav-link text-uppercase">Precios</a>
            </li>
            <li class="nav-item">
                <a href="blog" class="nav-link text-uppercase">Blog</a>
            </li>
        </ul>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-custom mr-2">Iniciar sesión</a>
            <a href="#" class="btn btn-custom">Empezar</a>
        </div>

    </div>
    
    </div>
  </nav>
<!-- END nav -->

<section class="ftco-section bg-light ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section text-center ">
        <br>
        <h2>Paquetes asequibles
        </h2>
      </div>
    </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ">
          <div class="block-7">
            <div class="text-center">
                <span class="excerpt d-block">Personal</span>
            <span class="price"><sup>$</sup> <span class="number">49</span> <sub>/mos</sub></span>
            
            <ul class="pricing-text mb-5">
              <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
              <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Branding Services</li>
              <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Sales Management</li>
            </ul>

            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ">
          <div class="block-7">
            <div class="text-center">
            <span class="excerpt d-block">Business</span>
            <span class="price"><sup>$</sup> <span class="number">79</span> <sub>/mos</sub></span>
            
            <ul class="pricing-text mb-5">
              <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
              <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Branding Services</li>
              <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Sales Management</li>
            </ul>

            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ">
          <div class="block-7">
            <div class="text-center">
                <span class="excerpt d-block">Ultimate</span>
            <span class="price"><sup>$</sup> <span class="number">109</span> <sub>/mos</sub></span>
            
            <ul class="pricing-text mb-5">
              <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
              <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Branding Services</li>
              <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Sales Management</li>
            </ul>

            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 ">
          <div class="block-7">
            <div class="text-center">
                <span class="excerpt d-block">Premium</span>
            <span class="price"><sup>$</sup> <span class="number">149</span> <sub>/mos</sub></span>
            
            <ul class="pricing-text mb-5">
              <li><span class="fa fa-check mr-2"></span>Brand Strategy</li>
              <li><span class="fa fa-check mr-2"></span>Online Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Branding Services</li>
              <li><span class="fa fa-check mr-2"></span>Creative Marketing</li>
              <li><span class="fa fa-check mr-2"></span>Sales Management</li>
            </ul>

            <a href="#" class="btn btn-primary d-block px-2 py-3">Get Started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt bg-secondary">
    <div class="container py-5">
          <div class="row">
        <div class="col-md-7 d-flex align-items-center">
          <h2 class="mb-3 mb-sm-0" style="color:white; font-size: 22px;">

              Le actualizaremos sobre las últimas características, técnicas para mejorar el desempeño escolar y otros aspectos relevantes.</h2>
        </div>
        <div class="col-md-5 d-flex align-items-center">
          <form action="#" class="subscribe-form">
            <div class="form-group d-flex">
              <input type="text" class="form-control" placeholder="Enter email address">
              <input type="submit" value="Subscribe" class="submit px-3">
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

<footer class="footer">
    
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-9 py-5">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="footer-heading">GeniusTec</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Tutoría en línea</a></li>
                            <li><a href="#" class="py-1 d-block">Centro de ayuda</a></li>
                            <li><a href="#" class="py-1 d-block">Aplicación móvil</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="footer-heading">Descubrir</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Conviértete en tutor</a></li>
                            <li><a href="#" class="py-1 d-block">Precios</a></li>
                            <li><a href="#" class="py-1 d-block">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="footer-heading">Recursos</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Términos de servicio</a></li>
                            <li><a href="#" class="py-1 d-block">Política de privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <img src="assets/images/tesis/logo.png" alt="GeniusTec" class="img-fluid">
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-12 text-center">
                <p class="copyright" style="color: #FFF;">GeniusTec &copy; <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>
</body>