
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

.profile-name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.profile-name i {
  margin-right: 0.5rem;
}

.profile-info {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.profile-info p {
  margin-bottom: 0.5rem;
}

.profile-info i {
  margin-right: 0.5rem;
}

.profile-actions button {
  margin-right: 0.5rem;
}
.header {
  display: flex;
  align-items: center; /* Para alinear verticalmente el botón con el título */
  justify-content: space-between; /* Para distribuir los elementos horizontalmente */
}

.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center; /* Para centrar el texto */
  color: #1c1678; /* Establecer el color */
}

.profile-info {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.profile-info p {
  margin-bottom: 0.5rem;
}

.profile-actions button {
  margin-right: 0.5rem;
}/* Estilos para el contenedor principal */
  .container {
    margin-top: 5px;
  }
  
  /* Estilos para el formulario de perfil del alumno */
  form {
    background-color: #C1EDED;
    padding: 20px;
    border-radius: 10px;
  }
  
  /* Estilos para los botones */
  button {
    background-color: #1C1678;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1C1678;
  }
  
  /* Estilos para los campos de entrada */
  input[type="text"],
  input[type="email"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Estilos para los mensajes de texto */
  p {
    margin-bottom: 10px;
  }
  
  /* Estilos específicos para el modo de edición */
  .edit-mode input[type="text"],
  .edit-mode input[type="email"],
  .edit-mode input[type="date"] {
    background-color: #FFFFFF;
  }
  
  .edit-mode button {
    background-color: #36D7FF;
  }
  .white-icon {
    color: white;
  }
  