<app-navbar-student></app-navbar-student>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3">
        <div class="teacher-profile">
          <div>
            <br><br>
            <h2>Registre su horario disponible</h2>
            <full-calendar [options]="calendarOptions"></full-calendar>
            <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fechaInicio">Fecha de inicio:</label>
                    <input type="date" class="form-control" id="fechaInicio" [(ngModel)]="fechaInicio">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="fechaFin">Fecha de fin:</label>
                    <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFin">
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button (click)="guardarHorarios()" class="btn btn-primary" [disabled]="!fechaInicio || !fechaFin">Guardar horarios</button>
              </div>
            <br><br>
          </div>
        </div>
      </div>
    </div>
</div>
