<app-navbar></app-navbar>
<div class="content-wrapper">
  <div class="container">
    <br>
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Estudiantes</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar por nombre..." [(ngModel)]="searchTerm"
                (input)="search()">
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre:</th>
                    <th>Apellido:</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Genero</th>
                    <th>Usuario</th>
                    <th>Password</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let alumno of alumnos" (click)="selectAlumno(alumno)">
                    <td>{{ alumno.id }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido }}</td>
                    <td>{{ alumno.email }}</td>
                    <td>{{ alumno.telefono }}</td>
                    <td>{{ alumno.genero }}</td>
                    <td>{{ alumno.usuario }}</td>
                    <td>{{ alumno.password }}</td>
                    <td>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Botones de Acción">
                        <button class="btn btn-success " (click)="editAlumno(alumno)"><i
                            class="fas fa-edit"></i></button>
                        <button class="btn btn-danger " (click)="eliminarAlumno(alumno.id)"><i
                            class="fas fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="pagination-container">
            <button class="btn btn-transparent pagination-btn" (click)="goToFirstPage()">
              <i class="fas fa-angle-double-left"></i>
            </button>
            <button class="btn btn-transparent pagination-btn" (click)="goToPreviousPage()">
              <i class="fas fa-angle-left"></i>
            </button>
            <span class="pagination-info">Página {{ currentPage }} de {{ totalPages }}</span>
            <button class="btn btn-transparent pagination-btn" (click)="goToNextPage()">
              <i class="fas fa-angle-right"></i>
            </button>
            <button class="btn btn-transparent pagination-btn" (click)="goToLastPage()">
              <i class="fas fa-angle-double-right"></i>
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Editar</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div *ngIf="editingAlumno">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" [(ngModel)]="editingAlumno.id" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Nombre:</label>
                    <input type="text" class="form-control" [(ngModel)]="editingAlumno.nombre">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Apellido:</label>
                    <input type="text" class="form-control" [(ngModel)]="editingAlumno.apellido">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" [(ngModel)]="editingAlumno.email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Teléfono:</label>
                    <input type="text" class="form-control" [(ngModel)]="editingAlumno.telefono">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Usuario:</label>
                    <input type="text" class="form-control" [(ngModel)]="editingAlumno.usuario">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="text" class="form-control" [(ngModel)]="editingAlumno.password">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <div class="form-group">
                    <button class="btn btn-primary btn-sm" (click)="guardarEdicion()">Guardar</button>
                    <button class="btn btn-secondary btn-sm ml-2" (click)="cancelarEdicion()">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="main-footer">
  <strong>Copyright &copy; 2024 <a href="https://guido.com">GUIDO</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1.0
  </div>
</footer>