<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12 offset-md-1">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado de tutores</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre:</th>
                                    <th>Apellido:</th>
                                    <th>Correo</th>
                                    <th>Telefono</th>
                                    <th>Especialidad</th>
                                    <th>Descripcion</th>
                                    <th>Sala</th>
                                    <th>Usuario</th>
                                    <th>Password</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let profesor of profesores">
                                    <td>{{ profesor.id }}</td>
                                    <td>{{ profesor.nombre }}</td>
                                    <td>{{ profesor.apellido }}</td>
                                    <td>{{ profesor.email }}</td>
                                    <td>{{ profesor.telefono }}</td>
                                    <td>{{ profesor.especialidad }}</td>
                                    <td>{{ profesor.descripcion }}</td>
                                    <td>{{ profesor.sala }}</td>
                                    <td>{{ profesor.usuario }}</td>
                                    <td>{{ profesor.password }}</td>
                                    <td>
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Botones de Acción">
                                            <button class="btn btn-success " (click)="editProfesor(profesor)"><i
                                                    class="fas fa-edit"></i></button>
                                            <button class="btn btn-danger " (click)="eliminarProfesor(profesor.id)"><i
                                                    class="fas fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Editar profesor</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div *ngIf="editingProfesor">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>ID:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.id" disabled>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.nombre">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Apellido:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.apellido">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.telefono">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Especialidad:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.especialidad">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Descripción:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.descripcion">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Sala:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.sala">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Usuario:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.usuario">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Contraseña:</label>
                                    <input type="text" class="form-control" [(ngModel)]="editingProfesor.password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-sm" (click)="guardarEdicion()">Guardar</button>
                                    <button class="btn btn-secondary btn-sm ml-2" (click)="cancelarEdicion()">Cancelar</button>
                                </div>
                            </div>
                        </div>                                           
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>