<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="assets/images/tesis/logo.png" width="170" height="70" alt="Nombre de tu empresa">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link text-uppercase">Conviértete en tutor</a>
                </li>
                <li class="nav-item">
                    <a href="precio" class="nav-link text-uppercase">Precios</a>
                </li>
                <li class="nav-item">
                    <a href="blog" class="nav-link text-uppercase">Blog</a>
                </li>
            </ul>
            <div class="d-flex justify-content-center">
                <a href="login" class="btn btn-custom mr-2">Iniciar sesión</a>
                <a href="#" class="btn btn-custom">Empezar</a>
            </div>
  
        </div>
        
        </div>
      </nav>
  <!-- END nav -->
  <div class="hero-wrap">
    <div class="home-slider owl-carousel">
      <div class="slider-item" style="background-image:url(assets/images/tesis/1.jpg);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-8 ">
                  <div class="text w-100 text-center">
                    <h1 class="mb-4">Encuentre tutores universitarios de confianza para lecciones personalizadas</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 d-flex align-items-center">
                        <h2 class="mb-3 mb-sm-0 text-center" style="color:black; font-size: 22px;">
                            <p class="mb-4">Cuéntanos más sobre ti</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="btn btn-white mr-2">Soy padre/tutor</a>
                                <a href="#" class="btn btn-white">Soy estudiante</a>
                            </div>
                        </h2>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
  
      <div class="slider-item" style="background-image:url(assets/images/tesis/2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-8 ">
                    <div class="text w-100 text-center">
                        <h1 class="mb-4">Encuentre tutores universitarios de confianza para lecciones personalizadas</h1>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7 d-flex align-items-center">
                            <h2 class="mb-3 mb-sm-0 text-center" style="color:black; font-size: 22px;">
                                <p class="mb-4">Cuéntanos más sobre ti</p>
                                <div class="d-flex justify-content-center">
                                    <a href="#" class="btn btn-white mr-2">Soy padre/tutor</a>
                                    <a href="#" class="btn btn-white">Soy estudiante</a>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
  
      <div class="slider-item" style="background-image:url(assets/images/tesis/3.jpg);">
          <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-center justify-content-center">
              <div class="col-md-8">
                  <div class="text w-100 text-center">
                    <h1 class="mb-4">Encuentre tutores universitarios de confianza para lecciones personalizadas</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-7 d-flex align-items-center">
                        <h2 class="mb-3 mb-sm-0 text-center" style="color:black; font-size: 22px;">
                            <p class="mb-4">Cuéntanos más sobre ti</p>
                            <div class="d-flex justify-content-center">
                                <a href="#" class="btn btn-white mr-2">Soy padre/tutor</a>
                                <a href="#" class="btn btn-white">Soy estudiante</a>
                            </div>
                        </h2>
                    </div>
                </div>
                
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(assets/images/tesis/11.jpg);">
                </div>
            </div>
            <div class="col-md-6 pl-md-5 py-md-5">
                <div class="heading-section pl-md-4 pt-md-5">
            <h2 class="mb-4">Cómo funciona GeniusTec</h2>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="text pl-4">
                        <p>GeniusTec empareja a estudiantes universitarios examinados que asisten a las mejores universidades e institutos de Perú, con estudiantes para que reciban lecciones de tutoría individuales.</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accountant"></span></div>
                    <div class="text pl-4">
                        <h4>Encuentra tu tutor perfecto</h4>
                        <p>Más de 150 temas disponibles</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-teamwork"></span></div>
                    <div class="text pl-4">
                        <h4>Contacto con un tutor recomendado</h4>
                        <p>Quién se adaptar a tus necesidades y estilos de aprendizaje</p>
                    </div>
                </div>
                <div class="services-2 w-100 d-flex">
                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
                    <div class="text pl-4">
                        <h4>Comienza a aprender</h4>
                        <p>con tu tutor perfecto</p>
                    </div>
                </div>
        </div>
    </div>
    </div>
  </section>
  <section class="ftco-section testimony-section bg-light">
    <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center pb-5 mb-3">
      <div class="col-md-7 heading-section heading-section-white text-center">
        <h2>Conozca a sus tutores</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
              <div class="text">
                <p class="mb-4">Soy Juanito, estudio medicina en la Universidad Nacional Mayor de San Marcos. GeniusTec me emparejó con un estudiante de secundaria para ser su tutora individual gracias a mis excelentes calificaciones</p>
                <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(assets/images/person_1.jpg)"></div>
                    <div class="pl-3">
                        <p class="name">Juan Scott</p>
                        <span class="position">Medicina -  UNMSM</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
              <div class="text">
                <p class="mb-4">Pedro cursa ingeniería industrial en la Pontificia Universidad Católica del Perú. A través de GeniusTec, brinda tutorías individuales a escolares de niveles inferiores</p>
                <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(assets/images/person_2.jpg)"></div>
                    <div class="pl-3">
                        <p class="name">Pedro Scott</p>
                        <span class="position">Ingenería Industrial - PUCP </span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
              <div class="text">
                <p class="mb-4">Gracias a GeniusTec, yo, estudiante de administración en la Universidad del Pacífico, puedo ser tutor individual de un alumno de secundaria</p>
                <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(assets/images/person_3.jpg)"></div>
                    <div class="pl-3">
                        <p class="name">Roger Scott</p>
                        <span class="position">Administración - UP</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
              <div class="text">
                <p class="mb-4">Antony cursa ingenería industrial en la Universidad Nacional de Ingeniería y, por medio de GeniusTec, la emparejan con un escolar de secundaria que necesita un tutor individual</p>
                <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(assets/images/person_1.jpg)"></div>
                    <div class="pl-3">
                        <p class="name">Antony Scott</p>
                        <span class="position">Ingenería Civil - UNI</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
                <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
              <div class="text">
                <p class="mb-4">GeniusTec me permite emparejarme con estudiantes de secundaria para brindarles tutorías personalizadas.</p>
                <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(assets/images/person_2.jpg)"></div>
                    <div class="pl-3">
                        <p class="name">Fernando Davila</p>
                        <span class="position">Diseño y Desarrollo de Software</span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  
  <section class="ftco-section ftco-no-pt bg-light ftco-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="img-faqs w-100">
                    <div class="img mb-4 mb-sm-0" style="background-image:url(assets/images/tesis/6.jpg);">
                    </div>
                    <div class="img img-2 mb-4 mb-sm-0" style="background-image:url(assets/images/tesis/5.jpg);">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pl-lg-5">
                <div class="heading-section mb-5 mt-5 mt-lg-0">
            <h2 class="mb-3">Tutoría privada 1 a 1</h2>
            <p>¡Nuestro conjunto de herramientas centrado en la educación hace que sus lecciones sean atractivas, efectivas y divertidas!.</p>
                </div>
                <div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
                      <div class="card">
                        <div class="card-header p-0" id="headingOne">
                          <h2 class="mb-0">
                            <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                                <p class="mb-0">Pizarra Colaborativa</p>
                              <i class="fa" aria-hidden="true"></i>
                            </button>
                          </h2>
                        </div>
                        <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
                          <div class="card-body py-3 px-0">
                              <!-- <ol> -->
                                  <p>Para ayudar a los estudiantes a comprender conceptos</p>
                                  <!-- <li>Consonantia, there live the blind texts</li>
                                  <li>When she reached the first hills of the Italic Mountains</li>
                                  <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                  <li>Separated they live in Bookmarksgrove right</li> -->
                              <!-- </ol> -->
                          </div>
                        </div>
                      </div>
  
                      <div class="card">
                        <div class="card-header p-0" id="headingTwo" role="tab">
                          <h2 class="mb-0">
                            <button href="#collapseTwo" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                                <p class="mb-0">Notas y pantalla campartida</p>
                              <i class="fa" aria-hidden="true"></i>
                            </button>
                          </h2>
                        </div>
                        <div class="collapse" id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="card-body py-3 px-0">
                              <!-- <ol> -->
                                  <p>Edite ensayos o comparta pantallas</p>
                                  <!-- <li>Consonantia, there live the blind texts</li>
                                  <li>When she reached the first hills of the Italic Mountains</li>
                                  <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                  <li>Separated they live in Bookmarksgrove right</li> -->
                              <!-- </ol> -->
                          </div>
                        </div>
                      </div>
  
                      <div class="card">
                        <div class="card-header p-0" id="headingThree" role="tab">
                          <h2 class="mb-0">
                            <button href="#collapseThree" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                                <p class="mb-0">Reproducción de grabaciones de lecciones</p>
                              <i class="fa" aria-hidden="true"></i>
                            </button>
                          </h2>
                        </div>
                        <div class="collapse" id="collapseThree" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="card-body py-3 px-0">
                              <!-- <ol> -->
                                  <p>Todas las sesiones se pueden grabar para reproducirlas más</p>
                                  <!-- <li>Consonantia, there live the blind texts</li>
                                  <li>When she reached the first hills of the Italic Mountains</li>
                                  <li>Bookmarksgrove, the headline of Alphabet Village</li>
                                  <li>Separated they live in Bookmarksgrove right</li> -->
                              <!-- </ol> -->
                          </div>
                        </div>
                      </div>
  
                      <div class="card">
                        <div class="card-header p-0" id="headingFour" role="tab">
                          <h2 class="mb-0">
                            <button href="#collapseFour" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapseFour">
                                <p class="mb-0">Contenido y plan de estudios</p>
                              <i class="fa" aria-hidden="true"></i>
                            </button>
                          </h2>
                        </div>
                        <div class="collapse" id="collapseFour" role="tabpanel" aria-labelledby="headingTwo">
                          <div class="card-body py-3 px-0">
                              <p>Traiga su propio material o utilice el contenido y el plan de estudios de GeniusTec.</p>
                          </div>
                        </div>
                      </div>
                    </div>
        </div>
    </div>
    </div>
  </section>
  
  <section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center">
                <h2> Con la preferencia de numerosos padres y tutores satisfechos.</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-4 d-flex ">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20 rounded" style="background-image: url('assets/images/tesis/13.jpg');"></a>
                    <div class="text p-4">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                        <p class="comment">¡GeniusTec ha sido increíble para mi hija! La calidad de la tutoría en línea es excepcional y ha mejorado significativamente su rendimiento académico. ¡Gracias!</p>
                        <div class="meta mb-2">
                            <div><a href="#">March 31, 2023</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20 rounded" style="background-image: url('assets/images/tesis/1.jpg');"></a>
                    <div class="text p-4">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p class="comment">Excelente plataforma de tutoría en línea. Mi hija ha estado usando GeniusTec durante meses y su confianza y habilidades académicas han mejorado significativamente.</p>
                        <div class="meta mb-2">
                            <div><a href="#">April 15, 2023</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex ">
                <div class="blog-entry align-self-stretch">
                    <a href="#" class="block-20 rounded" style="background-image: url('assets/images/tesis/8.jpg');"></a>
                    <div class="text p-4">
                        <div class="rating">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <p class="comment">Mi hijo ha estado usando GeniusTec para mejorar sus habilidades en matemáticas. ¡Los tutores son increíbles y han hecho que aprender sea divertido para él!</p>
                        <div class="meta mb-2">
                            <div><a href="#">May 3, 2023</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <section class="ftco-section ftco-no-pb ftco-no-pt bg-secondary">
  <div class="container py-5">
        <div class="row">
      <div class="col-md-7 d-flex align-items-center">
        <h2 class="mb-3 mb-sm-0" style="color:white; font-size: 22px;">
  
            Le actualizaremos sobre las últimas características, técnicas para mejorar el desempeño escolar y otros aspectos relevantes.</h2>
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Enter email address">
            <input type="submit" value="Subscribe" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
  </section>
  
  
  <footer class="footer">
    
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-9 py-5">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="footer-heading">GeniusTec</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Tutoría en línea</a></li>
                            <li><a href="#" class="py-1 d-block">Centro de ayuda</a></li>
                            <li><a href="#" class="py-1 d-block">Aplicación móvil</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="footer-heading">Descubrir</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Conviértete en tutor</a></li>
                            <li><a href="#" class="py-1 d-block">Precios</a></li>
                            <li><a href="#" class="py-1 d-block">Blog</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h2 class="footer-heading">Recursos</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-1 d-block">Términos de servicio</a></li>
                            <li><a href="#" class="py-1 d-block">Política de privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <br>
                <img src="assets/images/tesis/logo.png" alt="GeniusTec" class="img-fluid">
            </div>
        </div>
        <div class="row mt-md-5">
            <div class="col-md-12 text-center">
                <p class="copyright" style="color: #FFF;">GeniusTec &copy; <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados</p>
            </div>
        </div>
    </div>
  </footer>
  </body>
  <!-- loader -->
  <!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->