body {
    font-family: Arial, sans-serif;
    background-color: #C1EDED;
  }
  
  .container {
    margin-top: 30px;
  }
  
  h2 {
    color: #36D7FF;
    text-align: center;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
    position: relative;
  }
  h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #FBB311; /* Cambiado a amarillo brillante */
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }