<app-navbar-student></app-navbar-student>
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-3">
        <h2>Perfil del Profesor</h2>
        <div class="card">

            <img [src]="profesor.foto" class="card-img-top"> 
          <div class="card-body">
            <h5 class="card-title">{{ profesor.nombre }}</h5>
            <p class="card-text">{{ profesor.especialidad }}</p>
            <p class="card-text">{{ profesor.descripcion }}</p>
          </div>
        </div>
          <!-- teacher-profile.component.html -->
          <div class="teacher-profile">
            <h2>Horarios del profesor</h2>
            <full-calendar [options]="calendarOptions"></full-calendar>
          </div>          
      </div>
    </div>
  </div>
  