<app-navbar-student></app-navbar-student>

<div class="main">
  <app-topbar></app-topbar>
  <div class="details">
  
      <div class="container mt-4">
        <div class="card border rounded">
          <div class="card-body">
            <h2 class="card-title text-center" style="color: #333; font-size: 24px; margin-bottom: 20px;">Calendario de
              tutorías</h2>
            <div style="margin: 20px;">
              <full-calendar [options]="calendarOptions"
                style="height: calc(66vh - 40px); width: calc(66vw - 40px);"></full-calendar>
            </div>
          </div>
        </div>
 
    </div>
  </div>
</div>