<div class="container">
  <form (ngSubmit)="submitForm()" #alumnoForm="ngForm">
    <h3>Datos del Apoderado</h3>
   
    <div class="form-group">
      <label for="nombreApoderado">Nombre:</label>
      <input type="text" class="form-control" id="nombreApoderado" name="nombreApoderado" [(ngModel)]="apoderado.nombre" required>
    </div>

    <div class="form-group">
      <label for="apellidoApoderado">Apellido:</label>
      <input type="text" class="form-control" id="apellidoApoderado" name="apellidoApoderado" [(ngModel)]="apoderado.apellido" required>
    </div>

    <div class="form-group">
      <label for="dniApoderado">DNI:</label>
      <input type="number" class="form-control" id="dniApoderado" name="dniApoderado" [(ngModel)]="apoderado.dni" required>
    </div>

    <div class="form-group">
      <label for="nombreApoderado">Email:</label>
      <input type="email" class="form-control" id="emailApoderado" name="emailApoderado" [(ngModel)]="apoderado.email" required>
    </div>

    <div class="form-group">
      <label for="fecha_nacApoderado">Fecha de nacimiento:</label>
      <input type="date" class="form-control" id="fecha_nacApoderado" name="fecha_nacApoderado" [(ngModel)]="apoderado.fecha_nac" required>
    </div>

    <div class="form-group">
      <label for="generoApoderado">Genero:</label>
      <input type="text" class="form-control" id="generoApoderado" name="generoApoderado" [(ngModel)]="apoderado.genero" required>
    </div>
    <div class="form-group">
      <label for="telefonoApoderado">Telefono:</label>
      <input type="text" class="form-control" id="telefonoApoderado" name="telefonoApoderado" [(ngModel)]="apoderado.telefono" required>
    </div>

 
    <h3>Direccion</h3>
    <div class="form-group">
      <label for="calle">Calle:</label>
      <input type="text" class="form-control" id="calle" name="calle" [(ngModel)]="direccion.calle" required>
    </div>
    <div class="form-group">
      <label for="distrito">Distrito:</label>
      <input type="text" class="form-control" id="distrito" name="distrito" [(ngModel)]="direccion.distrito" required>
    </div>
    <div class="form-group">
      <label for="provincia">Provincia:</label>
      <input type="text" class="form-control" id="provincia" name="provincia" [(ngModel)]="direccion.provincia" required>
    </div>
    <div class="form-group">
      <label for="codigo_postal">Codigo postal:</label>
      <input type="text" class="form-control" id="codigo_postal" name="codigo_postal" [(ngModel)]="direccion.codigo_postal" required>
    </div>


    <h3>Datos del Alumno</h3>
    <div class="form-group">
      <label for="nombreAlumno">Nombre:</label>
      <input type="text" class="form-control" id="nombreAlumno" name="nombreAlumno" [(ngModel)]="alumno.nombre" required>
    </div>

    <div class="form-group">
      <label for="apellidoAlumno">Apellido:</label>
      <input type="text" class="form-control" id="apellidoAlumno" name="apellidoAlumno" [(ngModel)]="alumno.apellido" required>
    </div>

    <div class="form-group">
      <label for="dniAlumno">DNI:</label>
      <input type="number" class="form-control" id="dniAlumno" name="dniAlumno" [(ngModel)]="alumno.dni" required>
    </div>

    <div class="form-group">
      <label for="nombreAlumno">Email:</label>
      <input type="email" class="form-control" id="emailAlumno" name="emailAlumno" [(ngModel)]="alumno.email" required>
    </div>

    <div class="form-group">
      <label for="fecha_nacAlumno">Fecha de nacimiento:</label>
      <input type="date" class="form-control" id="fecha_nacAlumno" name="fecha_nacAlumno" [(ngModel)]="alumno.fecha_nac" required>
    </div>

    <div class="form-group">
      <label for="generoAlumno">Genero:</label>
      <input type="text" class="form-control" id="generoAlumno" name="generoAlumno" [(ngModel)]="alumno.genero" required>
    </div>
    <div class="form-group">
      <label for="telefonoAlumno">Telefono:</label>
      <input type="text" class="form-control" id="telefonoAlumno" name="telefonoAlumno" [(ngModel)]="alumno.telefono" required>
    </div>

    
    <h3>Datos de cuenta</h3>
    <div class="form-group">
      <label for="usuario">Usuario:</label>
      <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="alumno.usuario" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="alumno.password" required>
    </div>
      
    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
</div>