<!-- <app-navbar-student></app-navbar-student>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Listado de Cursos</h2>
        <div *ngIf="cursos.length === 0" class="alert alert-warning" role="alert">
          No se encontraron cursos.
        </div>
        <div class="card" *ngFor="let curso of cursos">
          <div class="card-body">
            <h5 class="card-title">{{ curso.nombre }}</h5>
            <p class="card-text">{{ curso.descripcion }}</p>
            <p class="card-text"><small class="text-muted">Creado el: {{ curso.createdAt | date:'short' }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->