<app-navbar-student></app-navbar-student>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-3">
      <h2>Listado de Profesores</h2>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Buscar por especialidad" [(ngModel)]="filtroEspecialidad">
        <button class="btn btn-primary mt-2" (click)="buscarPorEspecialidad()">Buscar</button>
      </div>
      <div *ngIf="profesores.length === 0" class="alert alert-warning" role="alert">
        No se encontraron profesores.
      </div>
      <div class="row">
        <div class="col-md-3" *ngFor="let profesor of profesores">
          <div class="card mb-4" (click)="irAPerfil(profesor.id)">
            <img [src]="profesor.foto" class="card-img-top"> 
            <div class="card-body">
              <h5 class="card-title">{{ profesor.nombre }}</h5>
              <p class="card-text">{{ profesor.especialidad }}</p>
              <p class="card-text">{{ profesor.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary mt-3" (click)="cargarMasProfesores()" *ngIf="profesores.length >= mostrarCantidad && !cargandoMas">Cargar más</button>
      <div *ngIf="cargandoMas" class="text-center mt-3">
        <i class="fas fa-spinner fa-spin"></i> Cargando más profesores...
      </div>
    </div>
  </div>
</div>



  
      <!-- <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Listado de Cursos</h2>
        <div *ngIf="cursos.length === 0" class="alert alert-warning" role="alert">
          No se encontraron cursos.
        </div>
        <div class="card" *ngFor="let curso of cursos">
          <div class="card-body">
            <h5 class="card-title">{{ curso.nombre }}</h5>
            <p class="card-text">{{ curso.descripcion }}</p>
            <p class="card-text"><small class="text-muted">Creado el: {{ curso.createdAt | date:'short' }}</small></p>
          </div>
        </div>
      </div>
    </div> -->