<app-navbar-student></app-navbar-student>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-3">
            <h2>Perfil del Profesor</h2>

            <div class="card-body">
                <h5 class="card-title">{{ profesor.nombre }}</h5>
                <p *ngIf="!editMode" class="card-text">{{ profesor.especialidad }}</p>
                <input *ngIf="editMode" [(ngModel)]="profesor.especialidad" type="text" placeholder="Especialidad">
                <p *ngIf="!editMode" class="card-text">{{ profesor.descripcion }}</p>
                <textarea *ngIf="editMode" [(ngModel)]="profesor.descripcion" placeholder="Descripción"></textarea>

                <button *ngIf="!editMode" (click)="editMode = true">Editar</button>
                <button *ngIf="editMode" (click)="guardarCambios()">Guardar</button>
                <button *ngIf="editMode" (click)="editMode = false">Cancelar</button>
            </div>


            <!-- teacher-profile.component.html -->
            <div class="teacher-profile">
                <h2>Horarios del profesor</h2>
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
        </div>
    </div>
</div>