<app-navbar></app-navbar>
<div class="content-wrapper">
  <div class="container">
    <br>
    <div class="container">
      <div class="row">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Horarios</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar por fecha..." [(ngModel)]="searchTerm"
                (input)="search()">
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Día de la Semana</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fin</th>
                    <th>Fecha</th>
                    <th>Duración</th>
                    <th>ID del Profesor</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let horario of currentPageData" (click)="selectHorario(horario)">
                    <td>{{ horario.id }}</td>
                    <td>{{ horario.titulo }}</td>
                    <td>{{ horario.dia_semana }}</td>
                    <td>{{ horario.hora_inicio }}</td>
                    <td>{{ horario.hora_fin }}</td>
                    <td>{{ horario.fecha }}</td>
                    <td>{{ horario.duracion }}</td>
                    <td>{{ horario.Profesores_id }}</td>
                    <td>
                      <div class="btn-group btn-group-sm" role="group" aria-label="Botones de Acción">
                        <button class="btn btn-success " (click)="editHorario(horario)"><i
                            class="fas fa-edit"></i></button>
                        <button class="btn btn-danger " (click)="eliminarHorario(horario.id)"><i
                            class="fas fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="pagination-container">
            <button class="btn btn-transparent pagination-btn" (click)="goToFirstPage()">
              <i class="fas fa-angle-double-left"></i>
            </button>
            <button class="btn btn-transparent pagination-btn" (click)="goToPreviousPage()">
              <i class="fas fa-angle-left"></i>
            </button>
            <span class="pagination-info">Página {{ currentPage }} de {{ totalPages }}</span>
            <button class="btn btn-transparent pagination-btn" (click)="goToNextPage()">
              <i class="fas fa-angle-right"></i>
            </button>
            <button class="btn btn-transparent pagination-btn" (click)="goToLastPage()">
              <i class="fas fa-angle-double-right"></i>
            </button>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Editar</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div *ngIf="selectedHorario">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label>ID:</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedHorario.id" disabled>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Titulo:</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedHorario.titulo">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Dia de semana:</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedHorario.dia_semana">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Hora de inicio:</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedHorario.hora_inicio">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Hora de fin:</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedHorario.hora_fin">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label>Fecha:</label>
                    <input type="text" class="form-control" [(ngModel)]="selectedHorario.fecha">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center">
                  <div class="form-group">
                    <button class="btn btn-primary btn-sm" (click)="guardarEdicion()">Guardar</button>
                    <button class="btn btn-secondary btn-sm ml-2" (click)="cancelarEdicion()">Cancelar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2024 <a href="https://guido.com">GUIDO</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1.0
  </div>
</footer>