<body>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>

  <div class="login-box background-image">
    <div class="card mt-10">
      <!-- Agregado mt-5 para el margen superior -->
      <a class="justify-content-between" href="index.html">
        <img
          src="assets/images/tesis/logo.png"
          width="170"
          height="70"
          alt="Nombre de tu empresa"
        />
      </a>

      <div class="login-box">
        <div class="login-logo">
          <a href="#"><b>GENIUS</b>TEC</a>
        </div>
        <div class="card">
          <div class="card-body login-card-body">
            <p class="login-box-msg">Inicia sesión</p>

            <form (ngSubmit)="submitForm()">
              <div class="input-group mt-3 mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Usuario"
                  [(ngModel)]="usuario"
                  name="usuario"
                  required
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-user"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Contraseña"
                  [(ngModel)]="password"
                  name="password"
                  required
                />
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <div class="icheck-primary">
                    <input type="checkbox" id="remember" />
                    <label for="remember">Recordarme</label>
                  </div>
                </div>
                <div class="col-8">
                  <button type="submit" class="btn-login text-center">
                    Iniciar sesión
                  </button>
                  <button type="button" class="btn-login text-center">
                    <i class="fab fa-chrome"> </i> Ingresar con Google
                  </button>
                </div>
              </div>
            </form>

            <p class="text-danger">{{ mensaje }}</p>

            <p class="mb-1">
              <a href="#">He olvidado mi contraseña</a>
            </p>
            <p class="mb-0">
              <a href="/registerStudent">Registrarme</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
