<app-navbar></app-navbar>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Tutores</li>
            <li class="breadcrumb-item active">Estudiantes</li>
            <li class="breadcrumb-item active">Inscripciones</li>
            <li class="breadcrumb-item active">Mensajes</li>
            <li class="breadcrumb-item active">Horarios</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ totalProfesores }}</h3>
              <p>Total Profesores</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ totalAlumnos }}</h3>
              <p>Total Alumnos</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ totalInscripciones }}</h3>
              <p>Total Inscripciones</p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-book"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ ultimosProfesoresInscritos }}</h3>
              <p>Últimos Profesores Inscritos</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <div class="col-lg-3 col-6">
          <div class="small-box bg-primary">
            <div class="inner">
              <h3>{{ ultimosAlumnosInscritos }}</h3>
              <p>Últimos Alumnos Inscritos</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-stalker"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card bg-success">
          <div class="card-header">
            <h3 class="card-title">Profesores Inscritos por Mes</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="table bg-success">Mes</th>
                  <th class="table bg-success">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of profesoresPorMes">
                  <td class="table bg-success">{{ item.mes }}</td>
                  <td class="table bg-success">{{ item.total }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card bg-info">
          <div class="card-header">
            <h3 class="card-title">Alumnos Inscritos por Mes</h3>
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="bg-info">Mes</th>
                  <th class="bg-info">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let alum of alumnosPorMes">
                  <td class="bg-info">{{ alum.mes }}</td>
                  <td class="bg-info">{{ alum.total }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<footer class="main-footer">
  <strong>Copyright &copy; 2024 <a href="https://guido.com">GUIDO</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.1.0
  </div>
</footer>
